/* Alignment styles */

body, html {
  height: 100%;
}

body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-image: url('../resources/img/backgrounds/login/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #9fadad;
  margin: 0px;
  /* height: 2000px; */
  /* background: #092756; */
  }

.flip-container {
	perspective: 1000;
}

h1 {
  margin-top: 0px;
}

.flipper {
  padding: 30px;
  width: 300px;
  height:250px;
  margin: 6% 0% 0% 40%;
  /* position: relative; */
  background-color: rgba(245, 245, 245, 0.8);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
	transition: 0.6s;
	transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  padding:10px 30px;
  top: 0;
  left: 0;
  right: 0;
	backface-visibility: hidden;
  /* color: white; */
}

.front{
	z-index: 0;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.back{
  transform: rotateY(180deg);
}
.flip{
  height: 420px;
	transform: rotateY(180deg);
}

input{
  width:100%;
  margin-bottom:15px;
  height:40px;
  box-sizing: border-box;
  padding:10px;
}

.title{
  text-align: center;
}
.flipbutton{
  color:#4096ee;
  font-weight: bolder;
  text-decoration:none;
  text-align:left !important;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0% 3% 0% 3%;
}
