<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="icon" href="../resources/img/icons/400w/v1-transparent-black.png">
    <title>Laptop Store | Welcome</title>

    <!-- CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/landing.css">
    <title></title>
  </head>
  <body>

    <div class="navbar sticky-top rounded shadow-lg">
      <!-- <h1>Hello</h1> -->
      <a class="navbar-brand" href="#">
        <img src="../resources/img/icons/400w/v1-transparent-black.png" style="width: 30%;" alt="">
      </a>
    </div>

    <div class="container" align="center" id="main">
      <img id="landingImg-1" src="../resources/img/back2.png" alt="Laptop">


    </div>

    <div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="basic container" id="projects">
    <h3>Latest Laptops</h3>
  </div>

  <!-- <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
        <img src="/w3images/house5.jpg" alt="House" style="width:100%">
      </div>
    </div> -->




    <script src="../js/landing.js" charset="utf-8"></script>
  </body>
</html>
