<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog Site | Hello</title>
    <link rel="icon" href="../images/icon.png">
  </head>
  <body>
    <link rel="stylesheet" href="../css/libs/materialize.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/materialize.min.js" charset="utf-8"></script>
    <script src="../js/util.js" charset="utf-8"></script>


    <div class="container white z-depth-2">
    	<ul class="tabs light-blue">
    		<li class="tab col s3"><a class="white-text active" href="#login">login</a></li>
    		<li class="tab col s3"><a class="white-text" href="#register">register</a></li>
    	</ul>
    	<div id="login" class="col s12">
    		<div id="loginForm" class="col s12">
    			<div class="form-container">
    				<h3 class="light-blue-text">Hello</h3>
    				<div class="row">
    					<div class="input-field col s12">
    						<input name="username" id="username-login" type="text" class="validate">
    						<label for="username">Username</label>
    					</div>
    				</div>
    				<div class="row">
    					<div class="input-field col s12">
    						<input name="password" id="password-login" type="password" class="validate">
    						<label for="password-login">Password</label>
    					</div>
    				</div>
    				<br>
    				<center>
    					<button id="loginBtn" class="btn waves-effect waves-light light-blue">Login</button>
    					<br>
    					<br>
    				</center>
    			</div>
    		</div>
    	</div>
    	<div id="register" class="col s12">
    		<div id="registerForm" class="col s12">
    			<div class="form-container">
    				<h3 class="light-blue-text">Welcome</h3>
    				<div class="row">
    					<!-- <div class="input-field col s6">
    						<input id="last_name" type="text" class="validate">
    						<label for="last_name">First Name</label>
    					</div> -->
    					<div class="input-field col s12">
    						<input id="username" type="text" class="validate">
    						<label for="username">Username</label>
                <span id="takenuser" class="errelem">This username is already taken</span>
    					</div>
    				</div>
    				<div class="row">
    					<div class="input-field col s12">
    						<input id="email" type="email" class="validate">
    						<label for="email">Email</label>
                <span id="emailvalid" class="errelem">Please enter a valid email address</span>
    					</div>
    				</div>
    				<!-- <div class="row">
    					<div class="input-field col s12">
    						<input id="email-confirm" type="email" class="validate">
    						<label for="email-confirm">Email Confirmation</label>
    					</div>
    				</div> -->
    				<div class="row">
    					<div class="input-field col s12">
    						<input id="password" type="password" class="validate">
    						<label for="password">Password</label>
    					</div>
    				</div>
    				<div class="row">
    					<div class="input-field col s12">
    						<input id="password-confirm" type="password" class="validate">
    						<label for="password-confirm">Password Confirmation</label>
                <span id="matchpass" class="errelem">Passwords do not match</span>
    					</div>
    				</div>
    				<center>
    					<button id="registerBtn" class="btn waves-effect waves-light light-blue">Register</button>
    				</center>
    			</div>
    		</div>
    	</div>
    </div>

    <script src="../js/index.js" charset="utf-8"></script>


  </body>
</html>
