<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="icon" href="../resources/img/icons/400w/v1-transparent-black.png">
    <title>Laptop Store | Products | ADD</title>

    <!-- CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/products.css">

    <!-- JS IMPORTS -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>

    <!-- UTILITY FUNCTIONS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>

  </head>
  <body>


    <!-- NAVBAR -->
    <div class="navbar sticky-top rounded shadow-lg">
      <!-- <h1>Hello</h1> -->
      <div class="row no-gutters" style="width: 100%;">
        <div class="col-lg-3">
          <a class="navbar-brand" href="landing.html">
            <img src="../resources/img/icons/400w/v1-transparent-black.png" style="width: 35%;">
          </a>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-1 nav-items" align="right">
          <a class="nav-links" href="./landing.html">Home</a>
        </div>
        <div class="col-lg-1 nav-items" align="right">
          <a class="nav-links" href="./products.html">Products</a>
        </div>
        <div class="col-lg-2 nav-items" id="signout" align="left">
          <a class="nav-links" onclick="signout();">Sign out</a>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top:50px;">
      <div class="row">
        <div class="col-6" style="background-color:#d6d6d6;">
          <div class="row" style="margin-bottom:15px; padding-left:20px; padding-top:10px;">
            <strong style="font-size:20px;">My Cart</strong>
          </div>
          <hr>
          <div class="row" style="padding-bottom:10px;">
            <div class="col-4">
              <img src="../resources/img/laptops/brands/asus.jpeg " style="width:170px; height:130px; padding:30px;">
            </div>
            <div class="col-6">
              <strong></strong>
            </div>
          </div>
        </div>
        <div class="4">
        </div>


  </body>
</html>
