<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="icon" href="../resources/img/icons/400w/v1-transparent-black.png">
    <title>Laptop Store | Products | Compare</title>

    <!-- CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/products.css">

    <!-- UTILITY FUNCTIONS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>

  </head>
  <body>


    <!-- NAVBAR -->
    <div class="navbar sticky-top rounded shadow-lg">
      <!-- <h1>Hello</h1> -->
      <div class="row no-gutters" style="width: 100%;">
        <div class="col-lg-3">
          <a class="navbar-brand" href="landing.html">
            <img src="../resources/img/icons/400w/v1-transparent-black.png" style="width: 35%;">
          </a>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-1 nav-items" align="right">
          <a class="nav-links" href="./landing.html">Home</a>
        </div>
        <div class="col-lg-1 nav-items" align="right">
          <a class="nav-links" href="./products.html">Products</a>
        </div>
        <div class="col-lg-2 nav-items" align="left">
          <a class="nav-links" href="./login.html">Login / Sign up</a>
        </div>
      </div>
    </div>

    <!-- MAIN BODY -->
    <div class="container" style="padding:50px;">
      <div class="row">

        <table>
          <tr>
            <th></th>
            <td><img src="../resources/img/laptops/brands/dell.png" width="80%"></td>
            <td><img src="../resources/img/laptops/brands/hp.png" width="80%"></td>
          </tr>
          <tr>
            <th>Model Name</th>
            <td>
              Dell Inspiron
            </td>
            <td>
              Hp Pavilion
            </td>
          </tr>
          <tr>
            <th>Display Size</th>
            <td>15.6 Inch</td>
            <td>14 Inch</td>
          </tr>
          <tr>
            <th>Storage</th>
            <td>2TB</td>
            <td>1TB</td>
          </tr>
          <tr>
            <th>RAM</th>
            <td>8GB DDR4</td>
            <td>16GB DDR3</td>
          </tr>
          <tr>
            <th>OS</th>
            <td>Windows 10 Home</td>
            <td>Windows 8</td>
          </tr>
          <tr>
            <th>Warranty</th>
            <td>1 Year</td>
            <td>2 Year</td>
          </tr>
          <tr>
            <th>Price</th>
            <td>&#8377; 49900</td>
            <td>&#8377; 55000</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
