<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="icon" href="../resources/img/icons/400w/v1-transparent-black.png">
    <title>Laptop Store | Products | Compare</title>

    <!-- CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/products.css">

    <!-- JS IMPORTS -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>

    <!-- UTILITY FUNCTIONS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>

     <!-- Icons import-->
     <script src=" ../js/fontawesome.js"></script>
  </head>
  <body>


    <!-- NAVBAR -->
    <div class="navbar sticky-top rounded shadow-lg">
      <!-- <h1>Hello</h1> -->
      <div class="row no-gutters" style="width: 100%;">
        <div class="col-lg-3">
          <a class="navbar-brand" href="landing.html">
            <img src="../resources/img/icons/400w/v1-transparent-black.png" style="width: 35%;">
          </a>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-1 nav-items" align="right">
          <a class="nav-links" href="./landing.html">Home</a>
        </div>
        <div class="col-lg-1 nav-items" align="right">
          <a class="nav-links" href="./products.html">Products</a>
        </div>
        <div class="col-lg-1 nav-items" align="center">
          <a class="nav-links" href="../cart.html">Cart</a>
        </div>
        <div class="col-lg-2 nav-items" align="left">
          <a class="nav-links" href="./login.html">Login / Sign up</a>
        </div>
      </div>
    </div>

    <!-- MAIN BODY -->
    <div class="container" style="padding:50px;">
      <div class="row" id="compareDiv">


      </div>
    </div>
    <div class="footer">

      <div class="container" style="margin-top:40px;">
        <div class="row">
        <!-- <div class="col-12"> -->

          <div class="col-3">
            <div style="font-size:20px;margin-top: 20px;text-align:center;"> <b>Customer Service</b></div> <hr>
            <ul style="font-size:16px;list-style-type: none;">
              <li style="padding:5px;padding-bottom:10px;">Contact us</li>
                <ul style="font-size:16px;list-style-type: none;">
                  <li><a href="tel:+91-9821028822" style="text-decoration: none;color:black;padding-bottom:10px;" class="fa fa-phone"> We would love to hear from you </a></li>
                  <li><a href="mailto:rpcdrv@gmail.com" style="text-decoration: none;color:black;" class="fa fa-envelope"> Email us </a></li>
                </ul>
              <li style="padding:5px;padding-bottom:10px;padding-top:10px;">Technical Help</li>
              <li style="padding:5px;padding-bottom:10px;">Terms of use</li>
            </ul>
          </div>
        <div class="col-1">

        </div>

        <div class="col-3">
          <div style="font-size:20px;margin-top: 20px;text-align:center;"><b>Stay in Touch</b></div> <hr>
          <ul style="font-size:16px;list-style-type: none;">
              <li style="padding:10px;" class="fa fa-facebook-official"> Facebook </li> <br>
              <li style="padding:10px;" class="fa fa-twitter"> Twitter</li> <br>
              <li style="padding:10px;"class="fa fa-instagram"> Instagram</li> <br>
              <li style="padding:10px;"class="fa fa-pinterest"> Pinterest</li> <br>
              <li style="padding:10px;"class="fa fa-github"> GitHub</li> <br>
          </ul>
        </div>

        <div class="col-1">

        </div>

        <div class="col-2">
          <div style="font-size:20px;margin-top: 20px;text-align:center;"><b>Newsletter Signup</b> <hr>
            <p style="font-size:15px;">Subscribe to our newsletter for more updates </p>
          </div>

          <!-- <ul style="font-size:16px;list-style-type: none;"> -->
              <!-- <form style="padding:20px;"> -->
              <div align="center">
                  <input style="padding:5px;" type="text" placeholder="Subscribe"/>
              <!-- </form> -->
          <!-- </ul> -->
        </div>
      </div>

      <!-- </div> -->
      </div>
      <div style="font-size: 14px; margin-top: 20px; float: right;">
          &copy; 2019 Dadya&co.pvt.ltd
      </div>
      </div>

    </div>

    <script src="../js/compare.js" charset="utf-8"></script>
  </body>
</html>
