<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="icon" href="../resources/img/icons/400w/v1-transparent-black.png">
    <title>Laptop Store | Laptop</title>

    <!-- CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/products.css">

    <!-- JS IMPORTS -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>

    <!-- UTILITY FUNCTIONS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>

  </head>
  <body>


    <!-- NAVBAR -->
    <div class="navbar sticky-top rounded shadow-lg">
      <!-- <h1>Hello</h1> -->
      <div class="row no-gutters" style="width: 100%;">
        <div class="col-lg-3">
          <a class="navbar-brand" href="landing.html">
            <img src="../resources/img/icons/400w/v1-transparent-black.png" style="width: 35%;">
          </a>
        </div>
        <div class="col-lg-5">

        </div>
        <div class="col-lg-2 nav-items" align="right">
          <a class="nav-links" href="./landing.html">Home</a>
        </div>
        <div class="col-lg-2 nav-items" align="left" id="login">
          <a class="nav-links" href="./login.html">Login / Sign up</a>
        </div>
        <div class="col-lg-2 nav-items" id="signout" align="left">
          <a class="nav-links" onclick="signout();">Sign out</a>
        </div>
      </div>
    </div>

    <!-- Laptop Page -->
    <div class="conatiner">
      <div class="col-12">
        <div class="row" style="padding:20px;">
          <div class="col-4" align="center" style="background:#ededed; margin-left:50px;">
            <div style="margin:20px;">
              <img src="../resources/img/laptops/brands/dell.png" width="80%">
            </div>
            <div style="margin-top:50px;">
              <button class="btn-blue" style="padding: 10px; font-size: 20px;" type="button" name="button">Add to Cart</button>
            </div>
          </div>
          <div class="col-6" align="left" style="margin-left:30px;">
            <div class="row" style="padding:20px;">
              <strong style="font-size:38px; ">Dell inspiron i5 processor 15.6 INCH 1TB </strong>
            </div>
            <div class="row">
              <div class="col-3" style="padding:20px;font-size:20px;" align="center">
                <b>Warranty : </b>
              </div>
              <div class="col-3">
                1 Year Warranty
              </div>
            </div>
            <div class="row">
              <div class="col-3" style="padding:20px;font-size:20px;" align="center">
                <b>Highlights :</b>
              </div>
              <div class="col-3">
                <ul>
                  <li style="padding:5px;">i5 Processor</li>
                  <li style="padding:5px;">8GB DDR4 RAM</li>
                  <li style="padding:5px;">Windows 10 Home</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-3" style="padding:20px;font-size:20px;" align="center">
                <b>Specifications :</b>
              </div>
              <div class="col-3">
                <ul>
                  <li style="padding:5px;">i5 Processor</li>
                  <li style="padding:5px;">15.6 INCH</li>
                  <li style="padding:5px;">2TB</li>
                  <li style="padding:5px;">8GB DDR4 RAM</li>
                  <li style="padding:5px;">Windows 10 Home</li>
                  <li style="padding:5px;">1 Year Warranty</li>
                  <li style="padding:5px;">&#8377;49900</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
