<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="icon" href="../resources/img/icons/400w/v1-transparent-black.png">
    <title>Laptop Store | Login</title>

    <!-- CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/login.css">

    <!-- JS IMPORTS -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>

    <!-- UTILITY FUNCTIONS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="navbar sticky-top rounded shadow-lg">
      <!-- <h1>Hello</h1> -->



          <a class="navbar-brand" href="../views/landing.html">
          <img src="../resources/img/icons/400w/v1-transparent-black.png" id="navbar-logo" style="width: 30%;" alt="">
          </a>


    </div>

    <br>

    <div class="flip-container">
      <div class="flipper" id="flipper">
      	<div class="front">
      		<h1 class="title">Login</h1>
      		<form>
  					<input type="text" placeholder="Username" id="username"/>
  					<input type="password" placeholder="Password" id="password"/>
  					<input type="button" value="Login" id="login"/>
      		</form>
      		<a class="flipbutton" id="loginButton" href="#">Create my account →</a>
      	</div>

      	<div class="back">
      		<h1 class="title">Register</h1>
      		<form>
            <input type="text" placeholder="Last Name" id="lname"/>
            <input type="text" placeholder="First Name" id="fname"/>
    				<input type="text" placeholder="Username" id="uname"/>
            <input type="number" placeholder="Phone Number" id="phno"/>
    				<input type="password" placeholder="Password" id="passwd"/>
    				<input type="button" value="Sign up" id="signup"/>
      		</form>
      		<a class="flipbutton" id="registerButton" href="#">Login to my account →</a>
      	</div>
      </div>
    </div>


  <script src="../js/login.js" charset="utf-8"></script>
  </body>
</html>
